@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "FuturaLT";
    src: url("./assets/fonts/FuturaLT.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "FuturaLT";
    src: url("./assets/fonts/FuturaLT-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}

@theme {
  --color-brand-red: #ff0049;
  --font-futura: "FuturaLT", sans-serif;
}
